<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.springboot.project.web.mapper.MainListDAO">
  	
  	<select id="getListAll" resultType="com.springboot.project.web.model.dto.MainListDto"> <!-- 영화 목록 list read -->
  		select
  			mov_idn,
  			mov_photo,
  			mov_title,
  			mov_release,
  			mov_viewCnt,
  			'0',
  			mov_rat,
  			'0',
  			'0',
  			mov_lik_cnt,
  			'0',
  			'0',
  			'0',
  			'0'
  			
  		from
  			movie_mst
  		order by
  			mov_idn
  	</select>
  	<select id="getListAllDesc" resultType="com.springboot.project.web.model.dto.MainListDto"> <!-- 영화 목록 list read -->
  		select
  			mov_idn,
  			mov_photo,
  			mov_title,
  			mov_release,
  			mov_viewCnt,
  			'0',
  			mov_rat,
  			'0',
  			'0',
  			mov_lik_cnt,
  			'0',
  			'0',
  			'0',
  			'0'
  			
  		from
  			movie_mst
  		order by
  			mov_idn desc
  	</select>
  	<select id="getListAllRelease" resultType="com.springboot.project.web.model.dto.MainListDto"> <!-- 영화 목록 list read -->
  		select
  			mov_idn,
  			mov_photo,
  			mov_title,
  			mov_release,
  			mov_viewCnt,
  			'0',
  			mov_rat,
  			'0',
  			'0',
  			mov_lik_cnt,
  			'0',
  			'0',
  			'0',
  			'0'
  			
  		from
  			movie_mst
  		order by
  			mov_rat
  	</select>
  	<select id="getListAllReleaseDesc" resultType="com.springboot.project.web.model.dto.MainListDto"> <!-- 영화 목록 list read -->
  		select
  			mov_idn,
  			mov_photo,
  			mov_title,
  			mov_release,
  			mov_viewCnt,
  			'0',
  			mov_rat,
  			'0',
  			'0',
  			mov_lik_cnt,
  			'0',
  			'0',
  			'0',
  			'0'
  			
  		from
  			movie_mst
  		order by
  			mov_rat desc
  	</select>
  	<select id="getListAllLike" resultType="com.springboot.project.web.model.dto.MainListDto"> <!-- 영화 목록 list read -->
  		select
  			mov_idn,
  			mov_photo,
  			mov_title,
  			mov_release,
  			mov_viewCnt,
  			'0',
  			mov_rat,
  			'0',
  			'0',
  			mov_lik_cnt,
  			'0',
  			'0',
  			'0',
  			'0'
  			
  		from
  			movie_mst
  		order by
  			mov_lik_cnt
  	</select>
  	<select id="getListAllLikeDesc" resultType="com.springboot.project.web.model.dto.MainListDto"> <!-- 영화 목록 list read -->
  		select
  			mov_idn,
  			mov_photo,
  			mov_title,
  			mov_release,
  			mov_viewCnt,
  			'0',
  			mov_rat,
  			'0',
  			'0',
  			mov_lik_cnt,
  			'0',
  			'0',
  			'0',
  			'0'
  			
  		from
  			movie_mst
  		order by
  			mov_lik_cnt desc
  	</select>
  	<!-- 
  	<update id="plusMovieListCnt"> 
  		update
  			movie_mst
  		set
  			mov_viewCnt = mov_viewCnt + 1
  		where
  			mov_idn = #{mov_idn}
  	</update>
  	
  	<select id=""> 
  	
  	</select>
 
 --> 	
  </mapper>