<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!--  <mapper namespace="com.springboot.project.domain.user.MovieRepository">
  
	<update id="plusLikeCnt" > 
  		update
  			movie_like
  		set
  			mov_lik = 1
  		where
  			mov_idn = #{mov_idn};
		
		
  	</update>
  	 x번 사용자가 x번 영화에 좋아요를 눌렀다. 좋아요 정보 insert
  		중복 발생...  처리 어떻게 할것인지?? 
	<insert id="insertListLike">
     	INSERT INTO 
      		movie_like (mov_idn, number)
       	VALUES (
       		#{mov_idn},
       		#{number}
      	)
 	</insert>
  
   x번 사용자가 x번 영화의 좋아요를 취소 좋아요 정보 지우기
	<delete id="deleteListLike">
     	DELETE FROM
     		movie_like
     	WHERE 
     		mov_idn = #{mov_idn} AND number = #{number} 
 	</delete>
 	
 	 회원이 영화를 좋아요 눌렀는지 조회 눌렀으면 1 안눌렀으면 0 
 	<select id="readListLike">
 		select
 			count(mov_lik)
		from
 			movie_mst
		where
			mov_idn = #{mov_idn} AND NUMBER = #{number};
 			
 	</select>
  
  	 유저 정보와 영화 정보가 같다면 좋아요 업데이트 
	<update id="updateListLike">
     	UPDATE
			movie_mst
		SET
			mov_lik = mov_lik + 1
		WHERE
			mov_idn = #{mov_idn} AND NUMBER = #{number};
	</update>
	
	<select id="getListLike" resultType="int">
            SELECT COUNT(
            	mov_lik_idn
            ) FROM
            	movie_lik
            WHERE
            	mov_idn = #{mov_idn} AND number = #{number}
  	</select>
  
  </mapper>
-->