*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    border: 0;
    margin:  0 auto;
}

body{
    background-color:#ccc;
}

/* header */
#header{
    background-color: black;
}

#header a{
    color: #fff;
}

.JMKYheader{
    min-width: 1200px;
    width: 1280px;
    height: 56px;
    display: flex;
    align-items: center;
}



.JMKYheader h1{
    width: 59.67px;
    font-size: 25px;
}

.JMKYheader ul li{
    color: #fff;
    float: left;
    font-size:14px;
    font-weight: 700;
}

#menu_nav{
    position: fixed;
    padding: 32px 0;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    display: none;
    z-index: 9999;
}
#menu_nav a{
	color:#fff;
}
#menu_nav label{
	color:#fff;
}

#menu_nav_top{
    width: 1024px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}
#menu_nav_top h1{
    margin: 0;
}
#menu_nav_top label{
    line-height: 48px;
    box-sizing: border-box;
    font-size: 48px;
    width: 48px;
    height: 48px;
    margin: 0;
    cursor: pointer;
}
#menu_main{
    width: 1024px;
    display: flex;
}
.menu_list{
    box-sizing: border-box;
    width: 512px;
    margin: 24px 0 0;
    padding: 8px 16px;
}
.menu_list label{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.menu_list{
    padding: 0;
}
.menu_list label{
    font-size: 20px;
    font-weight: 800;
}
.menu_list i{
    padding: 8px 16px;
    color: #f5c518;
    margin: 0;
}
.menu_item ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.menu_item ul li{
    width: 100%;
    margin: 0;
    padding: 8px 16px 8px 52px;
    box-sizing: border-box;
}
.menu_item ul li a{
    font-weight: 600;
    margin: 0;
}
.menu_item ul a:hover{
    border-bottom: 1px solid #fff;
}

.menu{
    min-width: 90px;
    margin: 0;
    padding: 0;
    cursor:pointer;
}
#search_container{
    display: flex;
    width: 650px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fff;
    
}
#search_container select{
    min-width: 30px;
    text-align: center;
    border-radius: 5px;
    outline: none;
}

#search_container input{
    width: 100%;
    height: 31.25px;
    padding: 5.25px 0 6px 8px;
    font-size: 0.875rem;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}
#search_container input:focus{
    outline: none;
}
#search_container button{
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
}


/* autocomplete */

.ui-autocomplete
{
   width: 400px;
   
}


.ui-menu-item {
	background: #222222;
	color: white;
    
}

/*
.ui-menu-item-wrapper {
	font-size: 20px;
	
	height: 100px;
	 background-image :url('https://mdn.mozillademos.org/files/7693/catfront.png');
	 background-repeat: no-repeat;  
	background-size: 80px;
	background-position: 3% 10px;
}

*/
.top_nav{
    display: flex;
    margin: 0;
    padding: 0;
    height: 31.25px;
    line-height: 31.25px;
}


.top_nav li{
    margin: 0 3px;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 16px;
}

.top_nav label{
    color: #eee;
}
.top_nav li:hover{
    
    background: rgb(53, 51, 51);
}



/*footer*/

.footer{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: black;
    padding:16px 0;
}
.footer a{
    color: #fff;
}

#icon_box{
    width: 1024px;
    display: flex;
    
    
}
#icon_box li{
    float: left;
    padding:12px;
    margin: 8px;
}

#link_box{
    width: 1024px;
}

.link_content_box{
    display: flex;
}
.link_content_box li{
    float: left;
    padding: 8px;
    line-height: 48px;
}

#JMKY_footer_logo{
    margin: 16px;
    display: flex;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
}

#JMKY_footer_copy{
    margin: 6px 0;
    color: #fff;
    font-size: 6px;
    display: flex;
    line-height: 20px;
}

.ellipsis {
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  /* 말줄임 적용 */
}