.wrapper {
  display: flex;
  /* justify-content: space-between; */
  margin: 0 auto;
  width: 1008px;
}

.pagecontent {
  background-color: #cacac6;
  height: 1000px;
  width: 1000px;

  margin: 0 auto;
}
.content-2-wide {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 613px;
  height: 1000px;
  padding: 20px;
  background-color: #f8f8f8;
}
.title-charts {
  margin-top: 0;
  margin-bottom: 10px;
}
.title-topBo {
  margin: 0;
}
.byline {
  font-size: 5px;
}
hr {
  margin: 10px 0;
}

a {
  text-decoration: none;
}
/*========================*/
.list {
  border-collapse: collapse;
  position: relative;
}
.alert {
  margin: 0 0 20px;
  padding: 12px 12px 12px 64px;
  border-radius: 6px;
  background: #f3eeaf
    url(https://m.media-amazon.com/images/S/sash/wIHh7bD9IjRZLFx.png) 12px 12px
    no-repeat;
}

.alert-message {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 13px;
  line-height: 140%;
  margin: 0.2em 0 0;
  padding: 0;
}

.list-header {
  font-family: Verdana, sans-serif;
  margin: 10px 0px 0px;

  font-size: 12px;
}

.list tr {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: 1px solid rgb(214, 214, 214);

  background-color: #f6f6f5;
  height: 30px;
  text-align: left;
}
.list-header th {
  height: 30px;
  vertical-align: bottom;
}
.list-main tr {
  height: 67px;
  align-items: center;
}
.list-poster {
  width: 45px;
  padding-right: 10px;
  border-left: none;
}
.list-title {
  width: 290px;
  padding-right: 10px;
}
.list-rating {
  width: 65px;
  padding-right: 10px;
}
.list-rating-title {
  font-size: 10px;
  text-align: left;
}
/*=======seen-widget===========================================================*/
.seen-widget {
  display: inline-block;
  white-space: nowrap;
  width: 55px;
  height: 20px;
  vertical-align: middle;
  position: relative;
}
.boundary-left {
  position: relative;
  width: 315px;
  left: -360px;
  height: 20px;
  top: -10px;
  padding: 10px;
  border: 1px solid black;
}
.popover {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 24px;
  width: 240px;
  white-space: nowrap;
  padding-top: 5px;
  position: absolute;
  top: 5px;
}
#mystar {
  position: relative;
  cursor: pointer;
}
.myrating {
  position: relative;
  display: none;
}
/*===========================================*/
.list-date {
  width: 65px;
  padding-right: 10px;
}
.list-count {
  width: 55px;
  padding-right: 10px;
}
.list-like {
  width: 50px;
}
.text-smaller {
  font-size: 10px;
}
.sidebar {
  width: 300px;
  height: 1000px;
  background-color: #f8f8f8;
  padding: 0 20px;
}

.sidebar-top {
  margin-top: 20px;
}
/*======================*/
.sidebar-widget {
  padding: 20px 0;
  border-bottom: 0.5px solid gray;
}
.sidebar-title {
  padding: 10px;
  font-size: 20px;
}
.sidebar-title .title-yhs {
  margin-top: 0;
  margin-bottom: 30px;
}

.sidebar-seen {
  display: flex;
}
/*========================*/
