.wrapper {
  display: flex;
  /* justify-content: space-between; */
  margin: 0 auto;
  width: 1008px;
}

.pagecontent {
  background-color: antiquewhite;
  height: 1000px;
  width: 1000px;

  margin: 0 auto;
}
.content-2-wide {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 613px;
  height: 1000px;
  padding: 0 20px;
  background-color: aqua;
}

.sidebar {
  width: 300px;
  height: 1000px;
  background-color: yellow;
  padding: 0 20px;
}

.sidebar-top {
  margin-top: 20px;
}
/*======================*/
.sidebar-widget {
  padding: 20px 0;
  border-bottom: 0.5px solid gray;
}
.sidebar-title {
  padding: 10px;
  font-size: 20px;
}
.sidebar-title .title-yhs {
  margin-top: 0;
  margin-bottom: 30px;
}

.sidebar-seen {
  display: flex;
}
/*========================*/
