<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.springboot.project.movie.mapper.MovieListDAO">
  	
  	<select id="listAll" > <!-- 영화 목록 list read -->
  		select
  			mov_idn,
  			mov_title,
  			mov_release,
  			mov_viewCnt,
  			mov_lik_idn,
  			mov_rat_idn
  		from
  			movie_mst
  		order by
  			mov_idn desc
  	</select>
  	
  	<update id="plusMovieListCnt"> <!--  조회수 증가 -->
  		update
  			movie_mst
  		set
  			mov_viewCnt = mov_viewCnt + 1
  		where
  			mov_idn = #{mov_idn}
  	</update>
 
  	
  </mapper>